// COLOURS - $c- + name
// named colours for ease (please use the more generic colours that use them below)
$whiteish: #fff;
$blue-lightest: #d7f1fb;
$blue-lighter: #d9f1fb;
$blue-light: #009de0;
$blue-dark: #11296b;
$orange: #ee750d;
$orange-darker: #ee6a0c;
$grey-dark: #383234;
$grey-light: #d1d1d1;
$grey-medium: #9b9b9b;
$purple: #6d1d85;
$dark-green: #417505;
$green: #7ed321;
$red: #f11313;

// Generic variable names for use in the code (so that the colours only need changing on one place)
$c-brand-main: $blue-light;
$c-brand-2ndary: $blue-dark;
$c-brand-3iary: $orange-darker;
$c-brand-4nary: $orange;
$c-brand-5inary: $blue-lighter;
$c-text: $grey-dark;
$c-link: $blue-light;
$c-link-active: $blue-dark;
$c-link-visited: $purple;
$c-input-check: $dark-green;

$nutrition-low: $green;
$nutrition-med: $orange-darker;
$nutrition-high: $red;

$c-action: $whiteish;
$c-action-bg: $blue-light;
$c-action-active: $whiteish;
$c-action-active-bg: $blue-dark;
$c-action-remove: $red;

$c-separator: $grey-light;

// Variations of brand
$c-brand-80: #07b1e5;
$c-brand-40: #93d8f2;
$c-brand-25: #a7daf5;
$c-brand-20: #c9ecf9;
$c-brand-15: #d9f1fb;
$c-brand-10: #e4f5fc;

$c-brand-dark-15: rgb(3, 139, 206);
$c-brand-dark-40: rgb(37, 107, 178);
$c-brand-3iary-dark-15: rgb(202, 90, 10);
$c-brand-3iary-dark-40: rgb(142, 63, 7);

// TYPOGRAPHY - $t- + name
// https://projects.invisionapp.com/d/main/default/#/console/10686253/226770242/preview
// NOTE: this is mobile first

// Small
$t: 16; // base font size without units
$t-h1: (30 / $t) * 1em;
$t-h2: (20 / $t) * 1em;
$t-h3: (18 / $t) * 1em;
$t-h4: (16 / $t) * 1em;
$t-h5: (11 / $t) * 1em;
$t-intro: (18 / $t) * 1em;
$t-base: $t * 1px; // normal text size
$t-form: 14px;

// Medium - ideally this is just an adjustment of the base font-size, but here isn't
$t1: 18;
$t1-h1: (40 / $t1) * 1em;
$t1-h2: (24 / $t1) * 1em;
$t1-h3: (20 / $t1) * 1em;
$t1-h4: (18 / $t1) * 1em;
$t1-h5: (11 / $t1) * 1em;
$t1-intro: (20 / $t1) * 1em;
$t1-base: $t1 * 1px;
$t1-form: 14px;

// Large
$t2: 18;
$t2-h1: (42 / $t2) * 1em;
$t2-h2: (28 / $t2) * 1em;
$t2-h3: (24 / $t2) * 1em;
$t2-h4: (20 / $t2) * 1em;
$t2-h5: (11 / $t2) * 1em;
$t2-intro: (20 / $t2) * 1em;
$t2-base: $t2 * 1px;
$t2-form: 16px;
$t-small: 14px;

$t-font: Arial, Helvetica, Roboto-sans, sans-serif;

// SPACING - $s- + name
$s-1: 12px;
$s-2: 20px;
$s-3: 30px;
$s-4: 28px;
$s-5: 10px;
$s-6: 40px;
$s-7: 10px;
$s-8: 10px;

// MISC
$border-radius: 10px;
$border-radius-button: 8px;
$max-content-width: 1170px;
$min-content-width: 280px;
$side-gutter: $s-2;
$vertical-gutter: $s-1;

/**
 * Mixin for adding fontawesome glyphs
 * @param {string} - the unicode string preceded by backslash (\)
 * @param {string} - the colour to make the icon
 * @param {string} - the size for the icon, including units
 */
@mixin font-icon($content, $colour, $size) {
    font-family: fontawesome;
    content: $content;
    font-size: $size;
    color: $colour;
}

@mixin dashed-divide(
    $position,
    $topPad,
    $botPad,
    $width: 1px,
    $style: dashed,
    $colour: $c-brand-2ndary
) {
    border-#{$position}: $width $style $colour;
    padding-top: $topPad;
    padding-bottom: $botPad;
}
// Don't recommend using this where it isn't added as pseudo-content
@mixin chevron($width: 9, $height: 15, $colour: $c-brand-main) {
    content: url('data:image/svg+xml;utf8,<svg width="#{$width}" height="#{$height}" viewBox="0 0 9 15" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="#{$colour}"><path d="M.304.303a1.037 1.037 0 0 1 1.466 0l6.108 6.11a1.037 1.037 0 0 1-1.466 1.466L.304 1.769a1.037 1.037 0 0 1 0-1.466z"/><path d="M1.77 14.697A1.036 1.036 0 1 1 .304 13.23l6.108-6.109a1.037 1.037 0 0 1 1.466 1.466L1.77 14.697z"/></g></svg>');
}

// Don't recommend using this where it isn't added as pseudo-content
@mixin ext-link($width: 15, $height: 14, $colour: $c-brand-main) {
    content: url('data:image/svg+xml;utf8,<svg width="#{$width}" height="#{$height}" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg"><path d="M6.912.663L9.463 3.08 5.637 6.71l2.55 2.419L12.015 5.5l2.55 2.418V.662H6.912zM1.811 1.872c-.707 0-1.275.54-1.275 1.21v9.673c0 .67.568 1.21 1.275 1.21h10.202c.707 0 1.276-.54 1.276-1.21V9.127l-1.275-1.209v4.837H1.812V3.081h5.1l-1.275-1.21H1.811v.001z" fill-rule="nonzero" fill="#{colour}" /></svg>');
}

$c-main-menu-1: rgb(14, 64, 131);
$c-main-menu-2: rgb(8, 101, 169);
$c-main-menu-3: rgb(4, 141, 199);
