<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
    <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
        <meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
        <% } %>
            <% for (var chunk of webpack.chunks) { %>
                <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
                    <% for (var file of chunk.files) { %>
                        <% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
                            <link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
                            <% } else if (file.match(/manifest\.json$/)) { %>
                                <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
                                <% } %>
                                    <% } %>
                                        <% } %>
</head>

<body>
    <%= htmlWebpackPlugin.options.ssr({
			url: '/'
        }) %>
        <button id='refresh'>Load</button>
        <textarea id='json'></textarea>
        <div class="hotspot_editor">
            <script>
                var hotspots = [
                    {
                        "type": "rect",
                        "x": 100,
                        "y": 200,
                        "width": 300,
                        "height": 150,
                        "title": "Rectangle",
                        "text": "Don't be a square",
                        "link": "http://example.com",
                        "linkText": "Example"
                    },
                    {
                        "type": "ellipse",
                        "cx": 300,
                        "cy": 300,
                        "rx": 50,
                        "ry": 90,
                        "text": "One infinite loop",
                        "link": "http://example.com"
                    },
                    {
                        "type": "polygon",
                        "points": [[500, 600], [550, 525], [550, 575], [600, 500]],
                        "title": "polygon",
                        "text": "You're a wizard, Harry"
                    }
                ];

                const field = document.getElementById('json')

                const HotspotEditorData = {
                    image: "./assets/complications.png",
                    width: 778,
                    height: 780,
                    hotspots: hotspots,
                    selector: "#editor",
                    saveHotspots: function (hotspots) {
                        console.log("saving stuff", hotspots);
                        return true;
                    },
                    onChange: function (hotspots) {
                        field.value = JSON.stringify(hotspots);
                    }
                }

                const HotspotViewerData = {
                    image: "./assets/complications.png",
                    width: 778,
                    height: 780,
                    hotspots: hotspots,
                    selector: "#viewer",
                    modal: true
                }

                document.querySelectorAll("#refresh").forEach(el => el.addEventListener('click', () => {
                    Hotspots.displayEditor(HotspotEditorData)
                    Hotspots.displayViewer(HotspotViewerData);
                }))



            </script>
            <div id="editor"></div>
            <div id="viewer"></div>
            <script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
            <script>window.fetch || document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>
</body>

</html>